 *,
 *::after,
 *::before {
    box-sizing: border-box;
 }

 body {
   color: #fff;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-style: normal;
 }

 a {
   color: inherit;
   text-decoration: none;
}

button {
   border: none;
   text-decoration: none;
   background-color: transparent;
   cursor: pointer;
   color: inherit;
}

 ._container {
   max-width: 75rem;
   padding: 0 .6rem;
   margin: 0 auto;
 }
 
 .header {
    min-height: 100vh;
    background: rgb(0, 0, 0, 0.3);
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://i.ibb.co/vBwmTdQ/IMG-2236.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 .header__top {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 6rem;
}

.nav__list {
   display: flex;
   justify-content: center;
   position: relative;
   z-index: 3;
}

.nav__close {
   display: none;
}

.nav__background {
   display: none;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, .5);
   z-index: 1;
   transition: background-color .3s;
}

.nav__background.nav__background-active {
   display: block;
}

.nav__btn {
   display: none;
   width: 2.5rem;
   height: 1.3rem;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   z-index: 2;
}

.nav__btn span {
   background-color: #fff;
   height: 0.1rem;
   width: 100%;
}

.nav__item {
   margin-right: 3rem;
}

.nav__link {
   text-transform: uppercase;
   font-size: 1.1rem;
   line-height: 1.5rem;
   transition: color .5s;
}

.nav__link:hover {
   color: #CB0E0E;
}

.hero-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 3rem;
   width: fit-content;
   height: 65vh;
}

.text-wrapper {
   display: flex;
   flex-direction: column;
}

.hero-section__title {
   font-size: 7.5rem;
   line-height: 4rem;
   font-weight: 400;
   width: fit-content;
}

.hero-section__title--top {
   font-size: 5rem;
   align-self: flex-end;
}

.hero-section__subtitle-wrapper {
   font-size: 1.2rem;
   line-height: 2rem;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.hero-section__subtitle-wrapper p+p {
   margin-left: 2rem;
}

.my-trainings {
   height: 56rem;
   color: #0b0b0b;
   display: flex;
   align-items: center; /* Aligns all flex items to the center vertically */
}

.title {
   text-transform: uppercase;
   padding-bottom: 4rem;
   font-size: 2rem;
}

.my-trainings__list {
   display: flex;
   flex-wrap: wrap;
   gap: 2.5rem 4rem;
   list-style-type: none;
}

.my-trainings__item {
   display: flex;
   gap: 0 1.2rem;
   width: 34rem;
   height: 11rem;
}

.my-trainings__item-content {
   display: flex;
   flex-direction: column;
}

.my-trainings__item-title {
   font-size: 1.5rem;
   line-height: 2rem;
   font-weight: 400;
   margin-bottom: 0.5rem;
   min-height: 5.5rem;
}

.my-trainings__item-date {
   font-size: 1rem;
}

.my-trainings__item-link {
   font-size: 1rem; 
   margin-top: auto;
   position: relative;
   transition: color .5s;
}

.my-trainings__item-link::after {
   content: "";
   background-image: url(../images/arrow.svg);
   width: 5px;
   height: 10px;
   margin-left: 8px;
   position: absolute;
   bottom: 2px;

}

.my-trainings__item-link:hover {
   color: #d39553;
}

.my-trainings__link {
   font-size: 1.5rem;
   padding: 1rem 2.5rem;
   display: flex;
   justify-content: center;
   margin: 4.5rem auto 0;
   border: 1px solid #0b0b0b;
   width: 12rem;
   text-transform: uppercase;
   transition: background-color .5s;
}

.my-trainings__link:hover {
   background-color: #875027;
   color: white;
}

.my-goals {
   color: #fff;
   padding: 6rem 0;
   background-image: url(https://i.ibb.co/FqLpRw0/cycling9.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.my-goals__link {
   font-size: 1.5rem;
   padding: 1rem 2.5rem;
   display: flex;
   border: 1px solid #ffffff;
   width: 16rem;
   text-transform: uppercase;
   justify-content: center;
   transition: background-color .5s;
 }

 .my-goals__link:hover {
   background-color: #CB0E0E;
 }

.my-goals__content {
   display: flex;
   justify-content: space-between;
   padding-bottom: 10rem;
   padding: 2.5rem 0;
}

.my-goals__title {
   text-transform: uppercase;
   padding-bottom: 4rem;
   font-size: 2rem;
   margin-bottom: 3rem;
}

.my-goals__table-block {
   padding: 1rem;
   background: rgb(0, 0, 0, 0.8);
}

.my-goals__table {
   color: #fff;
}

.my-goals__table-tr {
   font-size: 2.5rem;
   line-height: 3rem;

}

.my-goals__table-td {
   padding: 1rem 2rem 1rem 0; /*t b r l*/
}


